.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

/* F(rame)L(ess) */
.fl {
  margin: 0;
  padding: 0;
}

.sticky {
  position: sticky;
}

* {
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

a {
  color: var(--ac);
}

h1 {
  font-family: "Anton", sans-serif;
}
h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
}

/* portfolio page */
.fishfolio-tags div, .fishfolio-links > * {
  margin-right: 1em;
  padding: 0.3em 0.5em;
  border: var(--text) 1px solid;
}

.fishfolio-links > * {
  color: var(--ac);
  border: var(--ac) 1px solid;
  transition: border-color 0.2s;
}
.fishfolio-links > *:hover, .fishfolio-links > *:active {
  text-decoration: none;
  border-color: transparent;
}

.fishfolio br {
  height: 1em;
}

.fishfolio .screenshot img, .fishfolio img.screenshot {
  width: 90%;
  height: auto;
  padding: 1em;
  border: var(--text) 1px solid;
  align-self: center;
}

.fishfolio video {
  border: var(--text) 1px solid;
  width: 99%;
  height: auto;
  padding: 1em;
}
