#fishfolio-pieces {
	justify-content: space-around;

	&>div {
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.block {
		text-align: center;
		margin: 1rem;
		width: fit-content;
		height: fit-content;
	}

	img {
		width: 10rem;
		height: auto;
		align-self: center;
		transition:
			width 0.2s,
			height 0.2s;
	}

	a {
		padding: 1rem;
		border: var(--ac) 1px solid;
		transition:
			border-color 0.2s,
			padding 0.2s;
	}

	a:hover {
		padding: 0;
		border-color: transparent;

		img {
			width: 12rem;
			height: auto;
		}
	}

	p {
		margin-top: 0;
	}

	h3 {
		margin-bottom: 0.3rem;
	}
}